* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*Container header*/
/* 921(hiện menu)*/
@media (min-width: 973px) {
    .header-container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    /* Start logo and page name*/
    .navigate-bar {
        display: flex;
        padding: 1rem 9%;
        justify-content: space-between;
    }

    .container-lg-name-page {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-lg-name-page img {
        width: 3em;
        margin-right: 1.3em;
    }

    .container-lg-name-page .name-page {
        font-size: 1.4em;
        font-weight: 500;
        color: #2b2f38;
    }

    /*End logo and page game*/

    /* Start navigate link part*/
    .menu-navigate-link {
        display: none;
    }

    .navigate-link-part {
        display: flex;
        flex: 1;
        justify-content: right;
        align-items: center;
    }

    .navigate-link {
        padding: 0 2%;
        cursor: pointer;
    }

    .navigate-link a {
        text-decoration: none;
        font-size: 0.9em;
        color: #2b2f38;
    }

    .navigate-link-part .store-link a {
        color: #FC5F5F;
    }

    .store-link {
        position: relative;
        display: inline-block;
    }

    .store-link span {
        display: none;
    }

    .store-link::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100px;
        height: 50px;
    }

    .store-link .option-container {
        position: absolute;
        background-color: white;
        border-top-color: #FC5F5F;
        border-top-width: 2px;
        border-top-style: solid;
        top: 3rem;
        padding-right: 2rem;
        display: none;
        transition: opacity 0.2s;
    }

    .menu-option-container {
        display: none;
    }

    .plants-link,
    .cactus-link {
        font-size: 0.9em;
        color: #2b2f38;
        padding: 13.5px 8em 13.5px 10px;
    }

    .plants-link:hover,
    .cactus-link:hover {
        color: #FC5F5F;

    }

    .store-link button {
        display: none;
    }

    .store-link:hover .option-container {
        display: block;
    }

    .navigate-link-part .cart-link a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart-container {
        position: relative;
    }

    .number-prod {
        position: absolute;
        top: -10px;
        right: -8px;
        padding: 0px 5px;
        background-color: #FC5F5F;
        color: black;
        font-weight: 700;
        font-size: 0.8em;
        border-radius: 50%;
    }

    .cart-link .total-money {
        color: #FC5F5F;
        margin-right: 5px;
        font-weight: 600;
    }

    .navigate-link a:hover {
        color: #FC5F5F;
    }

    .navigate-link-part .header-icon {
        width: 1rem;
    }

    /* End navigate link part*/
}

@media (max-width: 972px) {
    .header-container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    /* Start logo and page name*/
    .navigate-bar {
        position: relative;
        display: flex;
        padding: 1em 9%;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-lg-name-page {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-lg-name-page img {
        width: 2.8rem;
        margin-right: 1.1rem;
    }

    .container-lg-name-page .name-page {
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1em;
        color: #2b2f38;
    }

    /*End logo and page game*/

    /* Start menu to responsive */
    .menu-navigate-link {
        display: flex;
        align-items: center;
    }

    .menu-navigate-link button {
        font-size: 1em;
        border: 1px solid #fc5f5f;
        padding: 0.4em 0.7em;
        border-radius: 2px;
    }

    .menu-navigate {
        display: flex;
        flex-direction: row;
        gap: 1.1em;
    }

    .total-money,
    .cart-container img,
    .cart-container div {
        font-size: 0.7em;
    }

    .menu-cart-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-cart-link a {
        display: flex;
        gap: 0.2em;
        text-decoration: none;
        flex-direction: row;
    }

    .menu-cart-link p {
        margin: 0;
        color: #FC5F5F;
        font-weight: 600;
    }

    .menu-cart-link img {
        width: 1.3em;
    }

    .menu-navigate .cart-container {
        position: relative;
    }

    .menu-navigate .cart-container .number-prod {
        position: absolute;
        top: -0.9em;
        right: -1em;
        padding: 1px 5px;
        background-color: #FC5F5F;
        color: black;
        font-weight: 700;
        font-size: 0.5em;
        border-radius: 50%;
    }

    /* Start navigate link part*/
    .navigate-link-part {
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: white;
        flex: 1;
        left: 0;
        right: 0;
        top: 5em;
        z-index: 200;
    }

    .navigate-link {
        padding: 0.8em 0;
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .navigate-link a {
        text-decoration: none;
        font-size: 0.8em;
        color: #2b2f38;
        line-height: 1em;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0 2em;
    }

    .navigate-link-part .store-link a {
        color: #FC5F5F;
    }

    .option-container {
        display: none;
    }

    .store-link a img {
        display: none;
    }

    .store-link {
        position: relative;
    }

    .store-link span {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        border: none;
        width: 3em;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .menu-option-container {
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }

    .menu-option-container a {
        text-decoration: none;
    }

    .plants-link,
    .cactus-link {
        font-size: 0.8em;
        color: #2b2f38;
        padding: 0.8em 3em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .plants-link:hover,
    .cactus-link:hover {
        color: #FC5F5F;
    }

    .cart-link,
    .user-link {
        display: none;
    }

    /* End navigate link part*/
    /* End menu to responsive */
}

/*---------------------------------------------*/
main {
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
}

.element-container {
    display: flex;
    flex-direction: row;
    max-width: 1340px;
    padding: 5% 1%;
}

.side-bar-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2em;
}

@media screen and (min-width: 920px) {
    .element-container {
        flex-direction: row;
    }
}

@media screen and (max-width: 920px) {
    .element-container {
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

/* || Range price slider */
.side-bar-container .price-filter-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2em 1em;
}

.price-filter-container p {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.3rem 1rem;
    color: #2b2f38;
}

.price-range-slider {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.price-range-slider .min-max-range {
    position: relative;
    width: inherit;
    height: 4px;
    margin-bottom: 1rem;
    background-color: #D1D1D3;
}

.slider-track {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #FC5F5F;
}

.min-max-range input {
    position: absolute;
    width: 100%;
    background: none;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    appearance: none;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: black;
    pointer-events: auto;
    appearance: none;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background: black;
    pointer-events: auto;
    cursor: pointer;
    -moz-appearance: none;
}

.min-max {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: 600;
    color: #5D6167;
}

.reset-button button {
    float: right;
    background-color: #fc5f5f;
    border: none;
    padding: 1em 2.2em;
    border-radius: 2.2em;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: inherit;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.2s;
    opacity: 0;
    pointer-events: none;
}
.reset-button button:hover {
    background-color: #75C32C;
}
/* || Categories */
.side-bar-container .categories-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 2em;
    padding: 2em 1em;
}

.categories-container h4 {
    font-size: 1.3em;
    font-weight: 400;
    color: #5d6167;
    padding: 0 1rem;
}

.categories-container div {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 0.6em;
    font-size: 1em;
}

.categories-container div a {
    text-decoration: none;
    font-size: inherit;
    color: #3a3b3d;
    font-size: 0.9em;
    position: relative;
}

.categories-container div a:hover {
    color: #75C32C;
}

.categories-container a span {
    position: absolute;
    right: 1rem;
}

/* || Hottest deals */
.hottest-deal-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
}

.hottest-deal-container h3 {
    font-size: 1.3em;
    font-weight: 400;
    color: #5d6167;
    padding: 2em 1em 1em 1em;
}

.product {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.product .product-name {
    margin: 2em 0 0.3em 0;
    font-family: inherit;
    font-size: 0.9em;
    color: #2b2f38;
}

.product:hover .product-name {
    color: #75C32C;
    cursor: pointer;
}

.product .price {
    margin: 0;
    color: #5D6167;
    font-size: 0.9em;
}

/* || Main content- Product wrapper */
.main-container {
    background-color: white;
    flex: 2;
    padding: 4% 6%;
}

/* || Path category */
.main-container .path-category {
    font-size: 0.9em;
    color: #5D6167;
}

.main-container .path-category a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

/* || Category name */
.main-container h2 {
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* || Show number product and kind of sort */
.main-container .related-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #5D6167;
}

.related-content select {
    font-size: inherit;
    color: inherit;
    border: none;
    background: none;
    padding: 0.5em 0.2em;
}

/* || Show all the products */
.product-container {
    padding-top: 2.1em;
    display: grid;
}

.featured-sample-product {
    position: relative;
}

.featured-plant-title {
    font-weight: 500;
    letter-spacing: 1px;
    color: #2b2f38;
    margin-bottom: 0;
}

@media screen and (min-width: 920px) {
    .product-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.2em;
        row-gap: 2em;
    }

    .price-filter-container,
    .categories-container,
    .hottest-deal-container {
        width: 93%;
    }

    .main-container h2 {
        font-size: 4em;
    }

    .featured-plant-title {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 920px) and (min-width: 545px) {
    .side-bar-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .price-filter-container,
    .categories-container,
    .hottest-deal-container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.2em;
        row-gap: 2em;
    }

    .main-container h2 {
        font-size: 2em;
    }

    .featured-plant-title {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 545px) {
    .side-bar-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .price-filter-container,
    .categories-container,
    .hottest-deal-container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.2em;
        row-gap: 2em;
    }

    .main-container h2 {
        font-size: 2em;
    }

    .featured-plant-title {
        font-size: 1.6em;
    }
}

.category-product {
    font-size: 0.8em;
    color: #a9a9ad;
    margin: 5px 0;
}

.name-product {
    font-size: 1em;
    font-weight: 500;
    color: #2b2f38;
    margin-bottom: 5px;
}

.price-product {
    font-size: 0.8em;
    font-weight: 700;
    color: #5d6167;
}

.image-container {
    padding-bottom: 100%;  /* Tạo tỷ lệ 1:1 dựa trên chiều rộng */
    position: relative;
}

.image-product {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Đảm bảo ảnh lấp đầy khu vực chứa */
}

.star-rating {
    word-spacing: 0;
    width: 0.8em;
}

.sale::before {
    content: "$24.00";
    font-size: 0.8em;
    font-weight: 700;
    color: #bbbbc0;
    text-decoration: line-through;
}

/* || Add to cart */
.add-to-cart-container {
    position: relative;
}

.not-sale-product {
    display: none;
}

.sale-product {
    position: absolute;
    background-color: white;
    font-size: 0.8em;
    font-weight: 500;
    color: #5d6167;
    padding: 1% 4%;
    border-radius: 1.2em;
    top: 4%;
    left: 7%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.add-to-cart a i {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.4em 0.5em;
    background-color: white;
    border-radius: 50%;
    color: #5b5c62;
    transition: color 0.5s;
    display: none;
}

.add-to-cart a i:hover {
    color: black;
}

.add-to-cart div {
    font-size: 0.68em;
    background-color: #2b2f38;
    color: white;
    padding: 0.3em 0.6em;
    position: absolute;
    border-radius: 4px;
    top: 1.8em;
    right: 5em;
    display: none;
}

.add-to-cart:hover div {
    display: inline-block;
}

.image-container:hover i {
    display: inline-block;
}

/*End add to cart*/
/*End featured plants*/


/* Begin footer */
.footer-part-container {
    display: grid;
    padding-top: 80px;
    background-color: #FFFFFF;
    padding-bottom: 80px;
}

.footer-social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 920px) {
    .footer-part-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 1em;
        padding-right: 7%;
        padding-left: 7%;
    }

    .footer-social-link {
        gap: 1.4em;
    }

    .footer-social-link img {
        width: 4em;
    }
}

@media (min-width: 545px) and (max-width: 920px) {
    .footer-part-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5em;
        row-gap: 1em;
        padding-right: 3%;
        padding-left: 3%;
    }

    .footer-social-link {
        gap: 0.5em;
        align-items: start;
    }

    .footer-social-link img {
        width: 6em;
    }

    .quick-link p {
        margin: 0;
    }
}

@media (max-width: 545px) {
    .footer-part-container {
        grid-template-columns: 1fr;
        column-gap: 1.5em;
        row-gap: 1em;
        padding-right: 3%;
        padding-left: 3%;
    }

    .footer-social-link {
        gap: 0.5em;
    }

    .footer-social-link img {
        width: 6em;
    }

    .link-title {
        text-align: center;
    }
}

.footer-social-link p {
    font-size: 1.37em;
    font-weight: 600;
    color: #5D6167;
}

.social-link {
    display: flex;
    justify-content: space-evenly;
}

.social-link a {
    font-size: 0.875em;
    background-color: #4E5768;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 2% 2%;
    width: 2em;
    height: 2em;
    border-radius: 2px;
    text-align: center;
    transition: background-color 0.3s;
}

.social-link a:hover {
    background-color: #75C32C;
}

.twitter {
    margin: 0 10px;
}

.ins {
    margin-right: 10px;
}

.link-title {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.link-title p {
    font-size: 1.25em;
    margin-bottom: 1.25em;
}

.footer-link {
    display: block;
    text-decoration: none;
    color: #5b5c62;
    font-size: 0.8em;
    transition: color 0.2s;
}

.footer-link:hover {
    color: #75C32C;
}

.get-in-touch-content {
    display: block;
    text-decoration: none;
    color: #5d6167;
    font-size: 0.8em;
}

/* End footer */

/* Copy right */
.copy-right-part {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 0.8em;
    color: #5D6167;
    display: flex;
    justify-content: space-between;
    padding: 2.5em 0;
    background-color: white;
}

.copy-right-name,
.powered-copy-right {
    flex: 1;
    text-align: center;
}