body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

/*Container header*/
/* 921(hiện menu)*/
@media (min-width: 973px) {
    .header-container {
        border-bottom-left-radius: 5em;
        border-bottom-right-radius: 5em;
        border: none;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(239, 248, 250, 0.45) 50%),
            url('../images/store-bg.jpg');
        background-size: cover;
        background-position: center;
    }

    /* Start logo and page name*/
    .navigate-bar {
        display: flex;
        padding: 1rem 9%;
        justify-content: space-between;
    }

    .container-lg-name-page {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-lg-name-page img {
        width: 3em;
        margin-right: 1.3em;
    }

    .container-lg-name-page .name-page {
        font-size: 1.4em;
        font-weight: 500;
        color: #2b2f38;
    }

    /*End logo and page game*/

    /* Start navigate link part*/
    .menu-navigate-link {
        display: none;
    }
    .navigate-link-part {
        display: flex;
        flex: 1;
        justify-content: right;
        align-items: center;
    }

    .navigate-link {
        padding: 0 2%;
        cursor: pointer;
    }

    .navigate-link a {
        text-decoration: none;
        font-size: 0.9em;
        color: #2b2f38;
    }

    .navigate-link-part .store-link a {
        color: #FC5F5F;
    }

    .store-link {
        position: relative;
        display: inline-block;
    }

    .store-link span {
        display: none;
    }

    .store-link::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100px;
        height: 50px;
    }

    .store-link .option-container {
        position: absolute;
        background-color: white;
        border-top-color: #FC5F5F;
        border-top-width: 2px;
        border-top-style: solid;
        top: 3rem;
        padding-right: 2rem;
        display: none;
        transition: opacity 0.2s;
    }
    .menu-option-container {
        display: none;
    }
    .plants-link,
    .cactus-link {
        font-size: 0.9em;
        color: #2b2f38;
        padding: 13.5px 8em 13.5px 10px;
    }

    .plants-link:hover,
    .cactus-link:hover {
        color: #FC5F5F;

    }
    .store-link button {
        display: none;
    }
    .store-link:hover .option-container {
        display: block;
    }

    .navigate-link-part .cart-link a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart-container {
        position: relative;
    }

    .number-prod {
        position: absolute;
        top: -10px;
        right: -8px;
        padding: 0px 5px;
        background-color: #FC5F5F;
        color: black;
        font-weight: 700;
        font-size: 0.8em;
        border-radius: 50%;
    }

    .cart-link .total-money {
        color: #FC5F5F;
        margin-right: 5px;
        font-weight: 600;
    }

    .navigate-link a:hover {
        color: #FC5F5F;
    }

    .navigate-link-part .header-icon {
        width: 1rem;
    }

    /* End navigate link part*/

    /* Start opening part */
    .opening-part {
        display: grid;
        row-gap: 20px;
        padding: 10% 9%;
        margin-right: 40%;
        margin-top: 40px;
        font-size: 1rem;
    }
    .opening-adver {
        font-size: 4.26em;
        font-weight: 500;
        color: #2b2f38;
    }
    /* End opening part */
}

@media (max-width: 972px) {
    .header-container {
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
        border: none;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(239, 248, 250, 0.45) 50%),
            url('../images/store-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: center;
        object-position: center;
    }

    /* Start logo and page name*/
    .navigate-bar {
        position: relative;
        display: flex;
        padding: 1em 5%;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-lg-name-page {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-lg-name-page img {
        width: 2.8rem;
        margin-right: 1.1rem;
    }

    .container-lg-name-page .name-page {
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1em;
        color: #2b2f38;
    }

    /*End logo and page game*/

    /* Start menu to responsive */
    .menu-navigate-link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu-navigate-link button {
        font-size: 1em;
        border: 1px solid #fc5f5f;
        padding: 0.4em 0.7em;
        border-radius: 2px;
    }
    .menu-navigate {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    .total-money, .cart-container img, .cart-container div {
        font-size: 0.7em;
    } 
    .menu-cart-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-cart-link a {
        display: flex;
        gap: 0.2em;
        text-decoration: none;
        flex-direction: row;
    }

    .menu-cart-link p {
        margin: 0;
        color: #FC5F5F;
        font-weight: 600;
    }

    .menu-cart-link img {
        width: 1.3em;
    }

    .menu-navigate .cart-container {
        position: relative;
    }

    .menu-navigate .cart-container .number-prod {
        position: absolute;
        top: -0.9em;
        right: -1em;
        padding: 1px 5px;
        background-color: #FC5F5F;
        color: black;
        font-weight: 700;
        font-size: 0.5em;
        border-radius: 50%;
    }
    /* Start navigate link part*/
    .navigate-link-part {
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: white;
        flex: 1;
        left: 0;
        right: 0;
        top: 5em;
    }
    .navigate-link {
        padding: 0.8em 0;
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .navigate-link a {
        text-decoration: none;
        font-size: 0.8em;
        color: #2b2f38;
        line-height: 1em;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0 2em;
    }

    .navigate-link-part .store-link a {
        color: #FC5F5F;
    }
    .option-container {
        display: none;
    }
    .store-link a img {
        display: none;
    }
    .store-link {
        position: relative;
    }
    .store-link span {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        border: none;
        width: 3em;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-option-container {
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .menu-option-container a {
        text-decoration: none;
    }
    .plants-link,
    .cactus-link {
        font-size: 0.8em;
        color: #2b2f38;
        padding: 0.8em 3em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .plants-link:hover,
    .cactus-link:hover {
        color: #FC5F5F;
    }
    .cart-link, .user-link {
        display: none;
    }
    /* End navigate link part*/
    /* End menu to responsive */

    /* Start opening part */
    .opening-part {
        display: grid;
        padding-left: 5%;
        margin-right: 40%;
        margin-top: 3em;
        padding-bottom: 15%;
        font-size: 1rem;
    }
    .opening-adver {
        font-weight: 500;
        color: #2b2f38;
    }
    @media (min-width: 600px) and (max-width: 972px){
        .opening-adver {
            font-size: 2em;
        }
        .opening-part {
            padding-top: 15%;
        }
    }
    @media (max-width: 600px){
        .opening-adver {
            font-size: 1.7em;
        }
        .opening-part {
            padding-top: 20%;
        }
    }
    /* End opening part */
}

/*Start featured plants*/
.featured-plant-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 5%;
    gap: 2em;
    padding-bottom: 5%;
}
.featured-plant-sample-product {
    padding-top: 2.1em;
}
.featured-sample-product {
    position: relative;
}
.featured-plant-title {
    font-weight: 500;
    letter-spacing: 1px;
    color: #2b2f38;
    margin-bottom: 0;
}
.featured-plant-sample-product {
    display: grid;
}
@media (min-width: 545px){
    .featured-plant-sample-product {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.2em;
        row-gap: 2em;
    }
    .featured-plant-title {
        font-size: 2.2em;
    }
}
@media (max-width: 545px){
    .featured-plant-sample-product {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.2em;
        row-gap: 2em;
    }
    .featured-plant-title {
        font-size: 1.6em;
    }
}
.category-product {
    font-size: 0.8em;
    color: #a9a9ad;
    margin: 5px 0;
}
.name-product {
    font-size: 1em;
    font-weight: 500;
    color: #2b2f38;
    margin-bottom: 5px;
}
.price-product {
    font-size: 0.8em;
    font-weight: 700;
    color: #5d6167;
}
.image-product {
    width: 100%;
}
.star-rating {
    word-spacing: 0;
    width: 0.8em;
}
.sale::before {
    content: "$24.00";
    font-size: 0.8em;
    font-weight: 700;
    color: #bbbbc0;
    text-decoration: line-through;
}
/*Start add to cart*/
.add-to-cart-container {
    position: relative;
}
.not-sale-product {
    display: none;
}
.sale-product {
    position: absolute;
    background-color: white;
    font-size: 0.6rem;
    font-weight: 500;
    color: #5d6167;
    padding: 2% 4%;
    border-radius: 1em;
    top: 4%;
    left: 7%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
    z-index: 100;
}
.add-to-cart i {
    width: 1.25em;
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.3em 0.3em 0.43em 0.3em;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    color: #5b5c62;
    transition: color 0.5s;
    display: none;
}
.add-to-cart a i:hover {
    color: black;
}
.add-to-cart div {
    font-size: 0.68em;
    background-color: #2b2f38;
    color: white;
    padding: 0.3em 0.6em;
    position: absolute;
    border-radius: 4px;
    top: 1em;
    right: 3.4em;
    display: none;
}
.add-to-cart:hover div {
    display: inline-block;
}
.image-container:hover i {
    display: inline-block;
}
/*End add to cart*/
/*End featured plants*/

/* Plants Collection included Feature Plants*/
.plants-collection {
    background-color: #F9F9F9;
    padding-bottom: 6%;
}
/*End plants collection included Feature Plants*/

/*Need help part*/
@media (min-width: 767px){
    .need-help-container {
        display: flex;
        flex-direction: row;
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 2em;
        padding-bottom: 4em;
        gap: 5em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
}
@media (max-width: 767px){
    .need-help-container {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        padding-left: 3%;
        padding-right: 6%;
        padding-bottom: 5em;
        gap: 2em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
}
.need-help-contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    justify-content: start;
}

.need-help-message {
    flex: 2;
    text-align: justify;
    line-height: 1.6em;
}

.need-help-call {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.need-help-recommend {
    font-size: 1.4em;
    font-weight: 500;
    color: #2b2f38;
}

.need-help-call i {
    font-size: 0.7em;
    color: #FC5F5F;
}

.need-help-call p {
    font-size: 0.7em;
    color: #FC5F5F;
    font-weight: 600;
    letter-spacing: 2px;
}

.text-message-1,
.text-message-2 {
    font-size: 0.875em;
    color: #5b5c62;
}

.text-message-1 {
    margin-bottom: 1em;
}

/*End need help part*/

/* Begin footer */
.footer-part-container {
    display: grid;
    padding-top: 80px;
    background-color: #FFFFFF;
    padding-bottom: 80px;
}
.footer-social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 920px){
    .footer-part-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 1em;
        padding-right: 7%;
        padding-left: 7%;
    }
    .footer-social-link {
        gap: 1.4em;
    }
    .footer-social-link img {
        width: 4em;
    }
}
@media (min-width: 545px) and (max-width: 920px){
    .footer-part-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5em;
        row-gap: 1em;
        padding-right: 3%;
        padding-left: 3%;
    }
    .footer-social-link {
        gap: 0.5em;
        align-items: start;
    }
    .footer-social-link img {
        width: 6em;
    }
    .quick-link p{
        margin: 0;
    }
}
@media (max-width: 545px){
    .footer-part-container {
        grid-template-columns: 1fr;
        column-gap: 1.5em;
        row-gap: 1em;
        padding-right: 3%;
        padding-left: 3%;
    }
    .footer-social-link {
        gap: 0.5em;
    }
    .footer-social-link img {
        width: 6em;
    }
    .link-title {
        text-align: center;
    }
}
.footer-social-link p {
    font-size: 1.37em;
    font-weight: 600;
    color: #5D6167;
}

.social-link a {
    font-size: 0.875em;
    background-color: #4E5768;
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    transition: background-color 0.3s;
}

.social-link a:hover {
    background-color: #75C32C;
}
.twitter {
    margin: 0 10px;
}

.ins {
    margin-right: 10px;
}

.link-title {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.link-title p {
    font-size: 1.25em;
    margin-bottom: 1.25em;
}
.footer-link {
    display: block;
    text-decoration: none;
    color: #5b5c62;
    font-size: 0.8em;
    transition: color 0.2s;
}

.footer-link:hover {
    color: #75C32C;
}

.get-in-touch-content {
    display: block;
    text-decoration: none;
    color: #5d6167;
    font-size: 0.8em;
}
/* End footer */

/* Copy right */
.copy-right-part {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 0.8em;
    color: #5D6167;
    display: flex;
    justify-content: space-between;
    padding: 2.5em 0;
    background-color: white;
}

.copy-right-name, .powered-copy-right {
    flex: 1;
    text-align: center;
}